h1 {
  text-shadow: 0 0 30px blue;
  color:#ffffff;
  font-size: 7vw;
  text-align: center;
  width: 55vmin;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  height: 0vmin;
  width: 0vmin;
  display: flex;
  justify-content: center;
  position: relative;
  font-style: normal;

  bottom: 7vw;

}
  

.logo_meli{
  width: 8vw;
  top: 17px;
  left: 12%;
}