{% extends './base2.html' %}
{% block title %} Arrival Management {% endblock %}


{% block contenedor3 %} 
<div class="process">
    <button class="button_process" onclick="location.href='#'"" type="button">
        <div class="item-circle">
            <i class="fas fa-edit"></i>
        </div>
        <label class="label_process">Ediciones</label>
    </button>
</div>
<div class="process">
    <button class="button_process" onclick="location.href='#'"" type="button">
        <div class="item-circle">
            <i class="fas fa-user-cog"></i>
        </div>
        <label class="label_process">Usuarios</label>
    </button>
</div>
{% endblock %}