{% extends './base2.html' %}
{% block title %} Arrival Management {% endblock %}

{%  block contenedor2 %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}">
<div class="welcome">
    <div class="item-circle-info">
        <div class="user-info__image"><svg  width="64" height="64" viewBox="0 0 64 64"><g fill="none" fill-rule="evenodd"><g fill="none" fill-rule="evenodd"><g fill="#000" fill-rule="nonzero"><g><g><path d="M19.803 19.25c2.734 0 4.95 2.216 4.95 4.95v.55h-1.1v-.55c0-2.126-1.723-3.85-3.85-3.85H6.572c-2.11 0-3.822 1.71-3.822 3.821v.55h-1.1v-.55c0-2.718 2.204-4.921 4.922-4.921zm-6.601-17.6c4.258 0 7.71 3.452 7.71 7.71 0 4.259-3.452 7.71-7.71 7.71s-7.71-3.451-7.71-7.71c0-4.258 3.452-7.71 7.71-7.71zm0 1.1c-3.651 0-6.61 2.96-6.61 6.61 0 3.651 2.959 6.61 6.61 6.61 3.65 0 6.61-2.959 6.61-6.61 0-3.65-2.96-6.61-6.61-6.61z" transform="translate(-670 -122) translate(649 101) translate(21.45 21.45)"></path></g></g></g></g></g></svg></div>
    </div>
    <label class="user_login">¡Hola JESUS ALBERTO SANTIAGO TREJO!</label>
</div>
{% endblock %}
{% block contenedor3 %} 
<div class="process">
    <div class="item-circle">
        <i class="fas fa-truck-moving"></i>
    </div>
    <label class="label_process">Patio</label>
</div>
<div class="process">
    <div class="item-circle">
        <i class="fas fa-folder-open"></i>
    </div>
    <label class="label_process">Recepcion</label>
</div>
<div class="process">
    <div class="item-circle">
        <i class="fas fa-truck-loading"></i>
    </div>
    <label class="label_process">Recibo</label>
</div>
<div class="process">
    <div class="item-circle">
        <i class="fas fa-chart-bar"></i>
    </div>
    <label class="label_process">Reportes</label>
</div>
<div class="process">
    <div class="item-circle">
        <i class="fas fa-edit"></i>
    </div>
    <label class="label_process">Ediciones</label>
</div>
{% endblock %}